@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  header nav ul {
    flex-direction: column;
  }
  header nav ul li a:hover {
    padding-bottom: 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body #MainImage {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -10;
}
body header {
  background-color: white;
  box-shadow: 0 10px 6px -6px #777;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
body header section.Logo {
  display: flex;
  flex: 1 1 400px;
  align-items: center;
}
body header section.Logo h1 {
  font-size: 3rem;
}
body header section.Logo img {
  width: 6rem;
  height: 6rem;
}
body header nav {
  flex: 6 1 600px;
}
body header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-bottom: 0.2rem;
}
body header nav ul li a {
  color: black;
  font-size: 2rem;
  text-decoration: none;
  padding-bottom: 0.2rem;
}
body header nav ul li a:hover {
  border-bottom: 0.2rem solid purple;
  color: purple;
}
body main section.back_images {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-image: url("../images/日本櫻花.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}
body main section.back_images div.filter {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 70vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body main section.back_images h3 {
  color: white;
  font-size: 3rem;
}
body main section.info_cycles {
  background-color: white;
  padding: 2rem 1rem;
}
body main section.info_cycles h3 {
  text-align: center;
  font-size: 2rem;
}
body main section.info_cycles div.cycles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body main section.info_cycles div.cycles div.cycle {
  padding: 1rem;
  flex: 0 1 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section.info_cycles div.cycles div.cycle img {
  width: 80%;
  border-radius: 50%;
  transition: all 0.1s ease-in;
  padding: 0.5rem;
}
body main section.info_cycles div.cycles div.cycle img:hover {
  border: 3px solid green;
  padding: 3px;
}
body main section.info_cycles div.cycles div.cycle p {
  text-align: center;
}
body main section.slogan {
  min-height: 70vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.slogan h3 {
  font-size: 3rem;
  color: wheat;
}
body main section.google-map {
  background-color: white;
  padding: 2rem 1rem;
  text-align: center;
}
body main section.google-map h3 {
  font-size: 3rem;
}
body main section.google-map p {
  font-size: 1.2rem;
  margin: 1rem;
}
body main section.google-map iframe {
  width: 100%;
  height: 600px;
}
body footer {
  padding: 10vh;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-evenly;
}
body footer section {
  display: flex;
}
body footer section a {
  justify-content: space-around;
  margin: 5rem;
}/*# sourceMappingURL=style.css.map */